@model UserModel
@{
    ViewData["Title"] = "EditTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col tEdit-col">
            <div>
                <h3>Edit User</h3>
            </div>
        <hr>
            <form asp-action="EditTeacher" asp-controller="Home" class="row g-3 needs-validation" novalidate>

            <div class="col-md-4">
                <input type="hidden" asp-for="UserID" />

                <label for="validationCustomUsername" class="form-label">Username</label>
                <input asp-for="UserName" type="text" class="form-control" id="validationCustom02" required>
                <div class="input-group has-validation">
                </div>

                <label for="validationCustom01" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" id="validationCustom01" placeholder="Ex: Juan" required>

                <label for="validationCustom02" class="form-label">Last name</label>
                <input asp-for="Lastname" type="text" class="form-control" id="validationCustom02" placeholder="Ex: Santana" required>
            </div>

            <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Age</label>
                    <input asp-for="Age" type="text" class="form-control" id="validationCustom01" required>

                    <label for="validationCustom01" class="form-label">Cedula/ID</label>
                    <input asp-for="Cedula" type="text" class="form-control" id="validationCustom01" placeholder="Ex: 402-3334433-7" required>

                    <label for="validationCustomUsername" class="form-label">Telephone</label>
                    <input asp-for="Telephone" type="text" class="form-control" id="validationCustom02" placeholder="809-444-5555" required>
            </div>

            <div class="col-md-4">
                    <label for="validationCustom03" class="form-label">Address</label>
                    <input asp-for="Address" type="text" class="form-control" id="validationCustom03" placeholder="Ex: Street # Neighborhood City" required>


                    <label for="validationCustomUsername" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="validationCustom02" placeholder="example@gmail.com" required>
       
            </div>

            <div class="col-md-6">
                    <label class="form-label">Shift</label>
                    <select asp-for="Shift" id="inputState" class="form-select">
                        <option>Morning</option>
                        <option>Afternoon</option>
                        <option>Night</option>
                        <option>M-A</option>
                        <option>M-N</option>
                        <option>A-N</option>
                    </select>  
            </div>

            <div class="col-12">
                <button class="btn btn-success" type="submit">Edit user</button>
            </div>
        </form>
        </div>
    </div>
</div>


         

            
        
        

