@{
    ViewData["Title"] = "Home Page";
}

<div class="card bg-dark text-white">
  <img src="~/images/pexels-buro-millennial-1438072.jpg" class="card-img" >
  <div class="card-img-overlay">
    <h5 class="card-title">STUDENT ROSTER</h5>
                 
                 <a asp-action="ListStu" asp-controller="StudentMaintainer" class="btn btn-primary">MANAGE</a>
           
  </div>
</div>



<div class="card bg-dark text-white">
    <img src="~/images/img4.jpg" class="card-img" >
    <div class="card-img-overlay">
        <h5 class="card-title" id="title">TEACHER ROSTER</h5>
        
                <a asp-action="ListTeachers" asp-controller="UserMaintainer" class="btn btn-primary">MANAGE</a>
               
    </div>
</div>

<div class="card bg-dark text-white">
    <img src="~/images/img6.jpg" class="card-img" >
    <div class="card-img-overlay">
        <h5 class="card-title" id="title">LOOKING FOR SOME IDEAS TO TEACH TODAY'S LESSON?</h5>
        <a  class="btn btn-light">Show me!</a>

    </div>
</div>
