@model TeachersModel;
@{
    ViewData["Title"] = "DeleteTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">DELETE TEACHER</h5>
        <hr />
        <form method="post" asp-action="DeleteTeacher" asp-controller="TeachersMaintainer">
            <input type="hidden" class="form-control" id="exampleInputPassword1" asp-for="tchID">
            <div class="mb-3">
                <div class="alert alert-danger" role="alert">
                    Do you want to delete @Html.DisplayTextFor(m=>m.tchName) from roster?
                </div>
                
            </div>     

            <button type="submit" class="btn btn-danger">Delete teacher</button>
            <a asp-action="ListTeachers" asp-controller="TeachersMaintainer" class="btn btn-warning">Go back to teacher's roster</a>
        </form>


    </div>
</div>
