@model UserModel
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/js/site.js"></script>

<div class="col-4 signup">
        <div >
            <h3>New user</h3>
        </div>

        <hr>
        <!--Here is the signup form-->
                 <form asp-action="NewUser" asp-controller="UserMaintainer" class="row g-3 needs-validation" id="newUser" >
                    
                     <!--User and password-->

                        <div class="col-md-4">
                            <label for="validationCustomUsername" class="form-label">Username</label>
                            <input asp-for="UserName" type="text" class="form-control" id="usernameInput">
                            <div class="input-group has-validation">
                            </div>

                            <label for="validationCustomUsername" class="form-label">Password</label>
                            <input asp-for="UserPassword" type="password" class="form-control" id="passwordInput" >
                            <div class="input-group has-validation">
                            </div>
                        </div>

                      <!--Personal Info-->
                     
                     <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="nameInput" placeholder="Ex: Juan" >

                        <label for="validationCustom02" class="form-label">Last name</label>
                        <input asp-for="Lastname" type="text" class="form-control" id="lastnameInput" placeholder="Ex: Santana" >

                        
                    </div>
                    <div class="col-md-4">

                        <label for="validationCustom01" class="form-label">Age</label>
                        <input asp-for="Age" type="text" class="form-control" id="ageInput" >
                        
                        <label for="validationCustom01" class="form-label">Cedula/ID</label>
                        <input asp-for="Cedula" type="text" class="form-control" id="cedulaInput" placeholder="Ex: 402-3334433-7" >

                    </div>

                    <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">Address</label>
                        <input asp-for="Address" type="text" class="form-control" id="addressInput" placeholder="Ex: Street # Neighborhood City" >

                        <label for="validationCustomUsername" class="form-label">Telephone</label>
                        <input asp-for="Telephone" type="text" class="form-control" id="telephoneInput" placeholder="809-444-5555" >
                        
                        <label for="validationCustomUsername" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="emailINput" placeholder="example@gmail.com" >                    
                    </div>


                    <!--Role, shift and center-->


                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Role</label>
                            <select asp-for="UserRole" id="inputState" class="form-select">
                                <option>Coordinator</option>
                                <option>Teacher</option>
                            </select>                       
                            
                            <label class="form-label">Shift</label>
                            <select asp-for="Shift" id="inputState" class="form-select">
                                <option>Morning</option>
                                <option>Afternoon</option>
                                <option>Night</option>
                                <option>M-A</option>
                                <option>M-N</option>
                                <option>A-N</option>
                            </select>

                            <label class="form-label">Center</label>
                            <select asp-for="Center" id="inputState" class="form-select">
                                <option>UAPA Zona Oriental</option>
                            </select>
                            
                         </div>  

                    <div class="col-12">
                        <button class="btn btn-success" onclick="ValidateNewUser()" >Create User</button>
                    </div>
                </form>
    </div>

